*{
    margin: 0;
    padding: 0;
}
:root{
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);



}
@font-face {
    font-family: "hanken";
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
body{
    font-family: 'hanken';
    background-color: aqua;
    
}

p{
    font-size: 18px;
}
.container-utama{
    width: 100%;
    min-height: 100vh;
    background-color: var(--White);
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.container-isi{
    display: flex;
    flex-direction: row;
    width: 50%;
    
}

.default-kolom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kolom-result{
    background-image: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
    width: 50%;
    border-radius: 25px;
}
.kolom-summary{
    background-color: var(--White);
}

.kolom-result .title{
    color: hsl(249.17,97.3%,85.49%);
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 1.5em;
}

.kolom-summary .title{
    color: black;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--Violet-blue), var(--Persian-blue));
    margin-bottom: 2em;
}

p.nilai{
    font-size: 3em;
    font-weight: bold;
    color: var(--White);
}

p.small-nilai{
    font-size: 0.8em;
    color: hsl(249.17,97.3%,85.49%);
   
}

p.jempol{
    font-size: 1.5em;
    color: var(--White);
    font-weight: bold;
}

p.keterangan{
    width: 60%;
    text-align: center;
    color: hsl(249.17,97.3%,85.49%);
    margin-top: 1.5em;
    padding-bottom: 2em;
}
